@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gowun+Batang&family=Gugi&family=Nanum+Pen+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#wrap {
  margin: 0 auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
#wrap header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10px;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid rgba(51, 51, 51, 0.442);
  z-index: 9999;
}
#wrap header .logo {
  width: 200px;
  height: 80px;
  background-image: url(/img/농심로고.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#wrap header .menu {
  width: 50%;
  height: 100%;
  display: flex;
  transition: 1s;
}
#wrap header .menu:hover {
  height: 100%;
}
#wrap header .menu:hover ul {
  display: block;
}
#wrap header .menu li {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  text-align: center;
}
#wrap header .menu li a {
  width: 100%;
  padding: 28px 0;
  font: bold 20px/1 "nanum gothic";
  color: #000;
}
#wrap header .menu li span {
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  margin-top: 7px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}
#wrap header .menu li .s1 {
  background-color: red;
  top: 15px;
  right: 67px;
}
#wrap header .menu li .s2 {
  background-color: #ff8400;
  top: 15px;
  right: 30px;
}
#wrap header .menu li .s3 {
  background-color: #0ec70e;
  top: 15px;
  right: 58px;
}
#wrap header .menu li .s4 {
  background-color: #213cec;
  top: 15px;
  right: 49px;
}
#wrap header .menu li .s5 {
  background-color: #333;
  top: 15px;
  right: 49px;
}
#wrap header .menu li ul {
  position: relative;
  display: none;
  width: 100%;
}
#wrap header .menu li ul li {
  display: block;
  padding: 30px;
  height: 50px;
}
#wrap header .menu li ul li a {
  display: inline;
  padding: 0;
  font: bold 17px/1 "nanum gothic";
  position: relative;
  color: #8c8b8b;
}
#wrap header .menu li ul li a:hover {
  color: #333;
}
#wrap header .menu li ul li a:hover::after {
  width: 100%;
  left: 0;
}
#wrap header .menu li ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -7px;
  left: 50%;
  height: 2px;
  background: #da2a2a;
  transition: all 0.5s;
}
#wrap header .sns {
  width: 10%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: bold 25px/1 "arial";
}
#wrap header .sns a {
  color: #333;
}
#wrap section {
  margin-top: 90px;
  width: 100%;
}
#wrap section .swiper {
  width: 100vw;
  height: 88vh;
}
#wrap section .swiper .swiper-wrapper .swiper-slide div {
  width: 100%;
  height: 100%;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide1 {
  background-image: url(/img/배홍동.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide1 p {
  font: 50px/1 "Nanum Pen Script";
  color: #fff;
  position: absolute;
  left: 150px;
  top: 250px;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide1 p span {
  font: bold 80px/1.5 "Nanum Pen Script";
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide2 {
  background-image: url(/img/비건.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide2 .s2text {
  position: absolute;
  left: 70px;
  top: 60%;
  color: #fff;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide2 .s2text h1 {
  font: bold 50px/1.5 "arial";
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide2 .s2text p {
  margin-top: 30px;
  font: bold 20px/1.5 "nanum gothic";
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide3 {
  background-image: url(/img/짜파게티.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide3 .up {
  position: absolute;
  left: 5%;
  top: 3%;
  font: bold 150px/1 "arial";
  color: #e5e0da;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide3 .down {
  position: absolute;
  right: 5%;
  bottom: 3%;
  font: bold 150px/1 "arial";
  color: #e84354;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide3 p {
  position: absolute;
  bottom: 3%;
  left: 3%;
  font: 55px/1.5 "Black Han Sans";
  color: #eee;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide4 {
  background-image: url(/img/콜라겐.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#wrap section .swiper .swiper-wrapper .swiper-slide .slide4 h1 {
  left: 5%;
  top: 15%;
  position: absolute;
  font: bold 60px/1.5 "arial";
  color: #fff;
}
#wrap section .swiper .swiper-pagination-bullet-active {
  background-color: #fff;
  transform: scale(1.5);
}
#wrap section .news {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
#wrap section .news .newsh {
  font: bold 70px/1 "nanum gothic";
  color: #000;
  opacity: 0;
  position: relative;
  bottom: -100px;
  transition: 1s;
}
#wrap section .news .newsh.on {
  opacity: 1;
  bottom: 0;
}
#wrap section .news .newscard {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#wrap section .news .newscard .cards {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
#wrap section .news .newscard .cards .first {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
#wrap section .news .newscard .cards .first .card1 {
  width: 500px;
  height: 400px;
  transition: 1s;
  opacity: 0;
  position: relative;
  bottom: -100px;
}
#wrap section .news .newscard .cards .first .card1:hover {
  transform: scale(1.05);
}
#wrap section .news .newscard .cards .first .card1.on {
  opacity: 1;
  bottom: 0;
}
#wrap section .news .newscard .cards .first .card1 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#wrap section .news .newscard .cards .first .card1 a img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
}
#wrap section .news .newscard .cards .first .card1 a h1 {
  margin-top: 10px;
  font: bold 25px/1 "nanum gothic";
  color: #333;
}
#wrap section .news .newscard .cards .first .card1 a .ptext {
  display: flex;
  justify-content: space-between;
}
#wrap section .news .newscard .cards .first .card1 a .ptext p {
  color: #777;
  letter-spacing: 2px;
  margin-top: 10px;
}
#wrap section .news .newscard .cards .first .card1 a .ptext .more1 {
  display: flex;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
#wrap section .news .newscard .cards .first .card1 a .ptext .more1 span {
  width: 30px;
  height: 2px;
  transform: translateY(320%);
  background-color: red;
}
#wrap section .news .newscard .cards .first .card1 a .ptext .more1 span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  transform-origin: right;
  position: absolute;
  right: 0;
  top: -2px;
}
#wrap section .news .newscard .cards .first .card1 a .ptext .more1:hover {
  opacity: 1;
}
#wrap section .news .newscard .cards .first .card2 {
  width: 500px;
  height: 400px;
  transition: 1s;
  opacity: 0;
  position: relative;
  bottom: -100px;
}
#wrap section .news .newscard .cards .first .card2:hover {
  transform: scale(1.05);
}
#wrap section .news .newscard .cards .first .card2.on {
  bottom: 0;
  opacity: 1;
}
#wrap section .news .newscard .cards .first .card2 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#wrap section .news .newscard .cards .first .card2 a img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
}
#wrap section .news .newscard .cards .first .card2 a h1 {
  margin-top: 10px;
  font: bold 25px/1 "nanum gothic";
  color: #333;
}
#wrap section .news .newscard .cards .first .card2 a .ptext {
  display: flex;
  justify-content: space-between;
}
#wrap section .news .newscard .cards .first .card2 a .ptext p {
  color: #777;
  letter-spacing: 2px;
  margin-top: 10px;
}
#wrap section .news .newscard .cards .first .card2 a .ptext .more2 {
  display: flex;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
#wrap section .news .newscard .cards .first .card2 a .ptext .more2 span {
  width: 30px;
  height: 2px;
  transform: translateY(320%);
  background-color: #ff3a3a;
}
#wrap section .news .newscard .cards .first .card2 a .ptext .more2 span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff3a3a;
  transform-origin: right;
  position: absolute;
  right: 0;
  top: -2px;
}
#wrap section .news .newscard .cards .first .card2 a .ptext .more2:hover {
  opacity: 1;
}
#wrap section .news .newscard .cards .first .card3 {
  width: 500px;
  height: 400px;
  transition: 1s;
  opacity: 0;
  position: relative;
  bottom: -100px;
}
#wrap section .news .newscard .cards .first .card3:hover {
  transform: scale(1.05);
}
#wrap section .news .newscard .cards .first .card3.on {
  bottom: 0;
  opacity: 1;
}
#wrap section .news .newscard .cards .first .card3 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#wrap section .news .newscard .cards .first .card3 a img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
}
#wrap section .news .newscard .cards .first .card3 a h1 {
  margin-top: 10px;
  font: bold 25px/1 "nanum gothic";
  color: #333;
}
#wrap section .news .newscard .cards .first .card3 a .ptext {
  display: flex;
  justify-content: space-between;
}
#wrap section .news .newscard .cards .first .card3 a .ptext p {
  color: #777;
  letter-spacing: 2px;
  margin-top: 10px;
}
#wrap section .news .newscard .cards .first .card3 a .ptext .more3 {
  display: flex;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
#wrap section .news .newscard .cards .first .card3 a .ptext .more3 span {
  width: 30px;
  height: 2px;
  transform: translateY(320%);
  background-color: #ff3a3a;
}
#wrap section .news .newscard .cards .first .card3 a .ptext .more3 span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff3a3a;
  transform-origin: right;
  position: absolute;
  right: 0;
  top: -2px;
}
#wrap section .news .newscard .cards .first .card3 a .ptext .more3:hover {
  opacity: 1;
}
#wrap section .news .newscard .cards .second {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
#wrap section .news .newscard .cards .second .card4 {
  width: 500px;
  height: 400px;
  transition: 1s;
  opacity: 0;
  position: relative;
  bottom: -100px;
}
#wrap section .news .newscard .cards .second .card4:hover {
  transform: scale(1.05);
}
#wrap section .news .newscard .cards .second .card4.on {
  bottom: 0;
  opacity: 1;
}
#wrap section .news .newscard .cards .second .card4 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#wrap section .news .newscard .cards .second .card4 a img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
}
#wrap section .news .newscard .cards .second .card4 a h1 {
  margin-top: 10px;
  font: bold 25px/1 "nanum gothic";
  color: #333;
}
#wrap section .news .newscard .cards .second .card4 a .ptext {
  display: flex;
  justify-content: space-between;
}
#wrap section .news .newscard .cards .second .card4 a .ptext p {
  color: #777;
  letter-spacing: 2px;
  margin-top: 10px;
}
#wrap section .news .newscard .cards .second .card4 a .ptext .more4 {
  display: flex;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
#wrap section .news .newscard .cards .second .card4 a .ptext .more4 span {
  width: 30px;
  height: 2px;
  transform: translateY(320%);
  background-color: #ff3a3a;
}
#wrap section .news .newscard .cards .second .card4 a .ptext .more4 span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff3a3a;
  transform-origin: right;
  position: absolute;
  right: 0;
  top: -2px;
}
#wrap section .news .newscard .cards .second .card4 a .ptext .more4:hover {
  opacity: 1;
}
#wrap section .news .newscard .cards .second .card5 {
  width: 1150px;
  height: 100%;
  position: relative;
  left: 150px;
  opacity: 0;
  display: flex;
  transition: 1s;
}
#wrap section .news .newscard .cards .second .card5:hover {
  transform: scale(1.05);
}
#wrap section .news .newscard .cards .second .card5.on {
  opacity: 1;
  left: 60px;
}
#wrap section .news .newscard .cards .second .card5 .cardimage img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
}
#wrap section .news .newscard .cards .second .card5 .cardtext {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap section .news .newscard .cards .second .card5 .cardtext h1 {
  font: bold 25px/1.5 "nanum gothic";
  color: #333;
}
#wrap section .news .newscard .cards .second .card5 .cardtext .ptext {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#wrap section .news .newscard .cards .second .card5 .cardtext .ptext p {
  color: #777;
  letter-spacing: 2px;
  margin-top: 10px;
}
#wrap section .news .newscard .cards .second .card5 .cardtext .ptext .more5 {
  display: flex;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
#wrap section .news .newscard .cards .second .card5 .cardtext .ptext .more5 span {
  width: 30px;
  height: 2px;
  transform: translateY(320%);
  background-color: #ff3a3a;
}
#wrap section .news .newscard .cards .second .card5 .cardtext .ptext .more5 span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff3a3a;
  transform-origin: right;
  position: absolute;
  right: 0;
  top: -2px;
}
#wrap section .news .newscard .cards .second .card5 .cardtext .ptext .more5:hover {
  opacity: 1;
}
#wrap section .brand {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}
#wrap section .brand .brandh {
  font: bold 70px/1.3 "nanum gothic";
  color: #000;
  opacity: 0;
  position: relative;
  bottom: -200px;
  transition: 1s;
}
#wrap section .brand .brandh.on {
  opacity: 1;
  bottom: -100px;
}
#wrap section .brand .cardlogo {
  margin-top: 300px;
  margin-left: 0;
  opacity: 0;
  transition: 1s;
  z-index: 2;
  position: absolute;
}
#wrap section .brand .cardlogo.on {
  opacity: 1;
}
#wrap section .brand .cardlogo .logo {
  backface-visibility: hidden;
  perspective: 600px;
}
#wrap section .brand .cardlogo .logo.front,
#wrap section .brand .cardlogo .logo.back {
  width: 600px;
  height: 600px;
  transition: 1s;
}
#wrap section .brand .cardlogo .logo.front {
  transform: rotateY(0deg);
  position: absolute;
}
#wrap section .brand .cardlogo .logo.back {
  text-align: center;
  transform: rotateY(-180deg);
}
#wrap section .brand .cardlogo .logo.back .backtext {
  width: 70%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  z-index: 2;
  font: bold 25px/1.7 "nanum gothic";
  color: #fff;
}
#wrap section .brand .cardlogo .logo.back .backtext a {
  display: block;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  line-height: 70px;
  color: #da2a2a;
  border: 2px solid #da2a2a;
  transition: 0.5s;
}
#wrap section .brand .cardlogo .logo.back .backtext a:hover {
  color: #fff;
  background-color: #da2a2a;
}
#wrap section .brand .cardlogo:hover .logo.front {
  transform: rotateY(180deg);
}
#wrap section .brand .cardlogo:hover .logo.back {
  transform: rotateY(0deg);
}
#wrap section .brand .boxim {
  width: 100%;
  height: 1000px;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  background-image: url(/img/main_visual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#wrap section .brand .boxim .brandst {
  width: 180px;
  height: 130px;
  background: linear-gradient(to bottom right, #da2a2a, red);
  position: absolute;
  left: -180px;
  top: -65px;
  opacity: 0;
  transition: 1s;
}
#wrap section .brand .boxim .brandst.on {
  left: -1px;
  opacity: 0.8;
}
#wrap section .brand .boxim .brandbox {
  width: 90%;
  height: 400px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 1s;
  position: absolute;
}
#wrap section .brand .boxim .brandbox.on {
  opacity: 1;
  bottom: 100px;
}
#wrap section .brand .boxim .brandbox .brandtext {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.789);
}
#wrap section .brand .boxim .brandbox .brandtext span {
  width: 80%;
  height: 3px;
  margin-top: 100px;
  background-color: #da2a2a;
}
#wrap section .brand .boxim .brandbox .brandtext h1 {
  margin-top: 50px;
  font: bold 50px/1 "nanum gothic";
}
#wrap section .brand .boxim .brandbox .brandtext p {
  margin-top: 40px;
  font: 25px/1.5 "nanum gothic";
  color: #333;
}
#wrap section .continue {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}
#wrap section .continue .conh {
  font: bold 70px/1.3 "nanum gothic";
  color: #000;
  opacity: 0;
  position: relative;
  bottom: -200px;
  transition: 1s;
}
#wrap section .continue .conh.on {
  opacity: 1;
  bottom: -100px;
}
#wrap section .continue .conimg {
  width: 100%;
  height: 1000px;
  margin-top: 300px;
  background-image: url(/img/conimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#wrap section .continue .conimg .constt {
  width: 180px;
  height: 130px;
  background: linear-gradient(to bottom right, #ff8400, orange);
  position: absolute;
  left: -180px;
  top: -65px;
  opacity: 0;
  transition: 1s;
}
#wrap section .continue .conimg .constt.on {
  left: -1px;
  opacity: 0.8;
}
#wrap section .continue .conimg .conef {
  width: 1300px;
  height: 600px;
  border: 2.5px solid #ff8400;
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  perspective: 800px;
  transition: 1s;
}
#wrap section .continue .conimg .conef.on {
  transform: translateX(-50%) translateY(-50%) rotateY(30deg) skewX(-4deg);
  left: 45%;
  opacity: 1;
  background-color: rgba(255, 132, 0, 0);
  animation: ani 2s forwards;
}
@keyframes ani {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateY(30deg) skewX(-4deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateY(360deg) skewX(-4deg);
    left: 45%;
  }
}
#wrap section .continue .conimg .context {
  width: 1300px;
  height: 500px;
  padding: 100px;
  background-color: rgba(255, 255, 255, 0.445);
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 50%;
  left: 45%;
  box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.492);
  transform: translateX(-50%) translateY(-50%);
}
#wrap section .continue .conimg .context.on {
  left: 50%;
  opacity: 1;
}
#wrap section .continue .conimg .context h1 {
  color: #000;
  font: bold 40px/1 "arial";
}
#wrap section .continue .conimg .context p {
  margin-top: 50px;
  color: #333;
  font: 25px/1.8 "nanum gothic";
}
#wrap section .continue .conimg .context2 {
  margin-top: 70px;
  font: bold 25px/1.7 "nanum gothic";
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
}
#wrap section .continue .conimg .context2 a {
  display: block;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  line-height: 70px;
  color: #da2a2a;
  border: 2px solid #da2a2a;
  transition: 0.5s;
}
#wrap section .continue .conimg .context2 a:hover {
  color: #fff;
  background-color: #da2a2a;
}
#wrap section .prodect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#wrap section .prodect .proh {
  font: bold 70px/1.3 "nanum gothic";
  color: #000;
  opacity: 0;
  position: absolute;
  top: 250px;
  transition: 1s;
}
#wrap section .prodect .proh.on {
  opacity: 1;
  top: 150px;
}
#wrap section .prodect .proim {
  width: 100%;
  height: 1000px;
  margin-top: 400px;
  background-image: url(/img/main_brand.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#wrap section .prodect .proim h1 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #fff;
  font: bold 100px/1 "arial";
  opacity: 0;
  transition: 1s;
}
#wrap section .prodect .proim h1.on {
  opacity: 1;
  left: 50px;
}
#wrap section .prodect .proim .prost {
  width: 180px;
  height: 130px;
  background: linear-gradient(to bottom right, green, #0ec70e);
  position: absolute;
  left: -180px;
  top: -65px;
  opacity: 0;
  transition: 1s;
}
#wrap section .prodect .proim .prost.on {
  left: -1px;
  opacity: 0.8;
}
#wrap section .prodect .pro {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#wrap section .prodect .pro a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#wrap section .prodect .pro a span {
  width: 80%;
  height: 2px;
  margin-top: 100px;
  background-color: #da2a2a;
}
#wrap section .prodect .pro a h2 {
  margin-top: 20px;
  color: #333;
}
#wrap section .prodect .pro a img {
  margin-top: 20px;
  width: 350px;
  border: 1px solid #da2a2a;
  border-radius: 50%;
  object-fit: cover;
}
#wrap section .prodect .pro a p {
  margin-top: 20px;
  font: bold 20px/1.5 "nanum gothic";
  color: #333;
}
#wrap section .prodect .pro a:nth-of-type(2) span {
  background-color: #ff8400;
}
#wrap section .prodect .pro a:nth-of-type(2) img {
  border: 1px solid #ff8400;
}
#wrap section .prodect .pro a:nth-of-type(3) span {
  background-color: #0ec70e;
}
#wrap section .prodect .pro a:nth-of-type(3) img {
  border: 1px solid #0ec70e;
}
#wrap section .prodect .pro a:nth-of-type(4) span {
  background-color: #213cec;
}
#wrap section .prodect .pro a:nth-of-type(4) img {
  border: 1px solid #213cec;
}
#wrap section .prodect .protext {
  margin-top: 70px;
  font: bold 25px/1.7 "nanum gothic";
  text-align: center;
  color: #fff;
}
#wrap section .prodect .protext a {
  display: block;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  line-height: 70px;
  color: #da2a2a;
  border: 2px solid #da2a2a;
  transition: 0.5s;
}
#wrap section .prodect .protext a:hover {
  color: #fff;
  background-color: #da2a2a;
}
#wrap section .noodle {
  width: 100%;
  padding: 150px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap section .noodle .nootext {
  position: absolute;
  top: 30%;
  left: 10%;
  transition: 1s;
}
#wrap section .noodle .nootext p {
  font: 100px/1.5 "Gugi";
  transform: translateX(-50%);
  transition: 1s;
  opacity: 0;
}
#wrap section .noodle .nootext .p1.on {
  transform: translateX(0);
  opacity: 1;
}
#wrap section .noodle .nootext .p2.on {
  transform: translateX(13%);
  opacity: 1;
}
#wrap section .noodle .nootext .p3.on {
  transform: translateX(20%);
  opacity: 1;
}
#wrap section .noodle .nooimg {
  width: 90%;
  height: 800px;
  display: flex;
  opacity: 0;
  transition: 1s;
  box-sizing: border-box;
}
#wrap section .noodle .nooimg .left {
  width: 40%;
  height: inherit;
}
#wrap section .noodle .nooimg .left .lefttext {
  width: 100%;
  height: 50%;
  transition: 1s;
  transform: translateX(-20%) translateY(-20%);
  padding: 50px;
  background-image: url(/img/noodle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  cursor: pointer;
}
#wrap section .noodle .nooimg .left .lefttext.on {
  transform: translateX(0%) translateY(0%);
}
#wrap section .noodle .nooimg .left .lefttext h1 {
  font: bold 50px/2 "Nanum Pen Script";
}
#wrap section .noodle .nooimg .left .lefttext p {
  font: 40px/1.3 "Nanum Pen Script";
  letter-spacing: 5px;
}
#wrap section .noodle .nooimg .left .lefttext a {
  display: block;
  width: 40%;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 15px;
  text-align: center;
  font: 25px/1 "arial";
  line-height: 40px;
  margin-top: 50px;
  color: #fff;
  transition: 0.5s;
}
#wrap section .noodle .nooimg .left .lefttext a:hover {
  background-color: #fff;
  color: #333;
}
#wrap section .noodle .nooimg .left .leftimg {
  width: 100%;
  height: 50%;
  position: relative;
  background-image: url(/img/noodle2.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-20%) translateY(20%);
  transition: 1s;
  cursor: pointer;
}
#wrap section .noodle .nooimg .left .leftimg.on {
  transform: translateX(0%) translateY(0%);
}
#wrap section .noodle .nooimg .left .leftimg p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 25px;
  display: block;
  width: 60%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font: bold 36px/1 "Gamja Flower";
  color: #333;
}
#wrap section .noodle .nooimg .right {
  width: 60%;
  height: inherit;
  position: relative;
  background-image: url(/img/noodle3.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(20%) scale(1.2);
  transition: 1s;
  cursor: pointer;
}
#wrap section .noodle .nooimg .right.on {
  transform: translateX(0%) scale(1);
}
#wrap section .noodle .nooimg .right .righttext {
  width: 60%;
  height: 500px;
  padding: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
}
#wrap section .noodle .nooimg .right .righttext h1 {
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  font: bold 50px/1 "Gowun Batang";
}
#wrap section .noodle .nooimg .right .righttext p {
  margin-top: 40px;
  font: 30px/1.3 "Gowun Batang";
}
#wrap section .noodle .nooimg .right .righttext span {
  display: block;
  text-align: center;
  width: 200px;
  margin-top: 50px;
  border: 1px solid #333;
  border-radius: 10px;
  font: bold 20px "Gowun Batang";
}
#wrap section .noodle .noodlea {
  position: absolute;
  bottom: 0;
  text-align: center;
  font: bold 25px/1.7 "nanum gothic";
}
#wrap section .noodle .noodlea a {
  display: block;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  line-height: 70px;
  color: #da2a2a;
  border: 2px solid #da2a2a;
  transition: 0.5s;
}
#wrap section .noodle .noodlea a:hover {
  color: #fff;
  background-color: #da2a2a;
}
#wrap section .rec {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#wrap section .rec .recst {
  width: 180px;
  height: 130px;
  background: linear-gradient(to bottom right, #333, #222);
  position: absolute;
  left: -180px;
  top: -65px;
  opacity: 0;
  transition: 1s;
}
#wrap section .rec .recst.on {
  left: -1px;
  opacity: 0.8;
}
#wrap section .rec .recimg {
  width: 70%;
  height: inherit;
  background-image: url(/img/Nongshim_HQ_s.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#wrap section .rec .rectext {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 100px 50px;
}
#wrap section .rec .rectext h1 {
  text-align: left;
  font: bold 60px/1 "arial";
}
#wrap section .rec .rectext p {
  margin-top: 50px;
  font: bold 25px/1.5 "nanum gothic";
}
#wrap section .rec .rectext a {
  margin-top: 150px;
  padding-top: 13px;
  display: block;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  line-height: 70px;
  color: #fff;
  border: 2px solid #Fff;
  transition: 0.5s;
  font: bold 25px/1.7 "nanum gothic";
}
#wrap section .rec .rectext a:hover {
  color: #333;
  background-color: #fff;
}
#wrap footer {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: #222;
}
#wrap footer .ftlogo {
  width: 10%;
  margin: 0 50px 0 70px;
}
#wrap footer .ftlogo .footerlogo {
  width: 100%;
  height: 200px;
  background-image: url(/img/농심로고3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#wrap footer .footertext {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#wrap footer .footertext .overtext {
  width: 100%;
  display: flex;
}
#wrap footer .footertext .overtext li {
  font: 20px/1 "arial";
  margin-right: 30px;
}
#wrap footer .footertext .overtext li a {
  color: #858585;
}
#wrap footer .footertext .undertext {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
#wrap footer .footertext .undertext li {
  font: 20px/1 "arial";
  margin-right: 20px;
}
#wrap footer .footertext .undertext li a {
  color: #858585;
}
#wrap footer .footertext .lasttext {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
#wrap footer .footertext .lasttext li {
  font: 20px/1 "arial";
  margin-right: 20px;
}
#wrap footer .footertext .lasttext li a {
  color: #fff;
}
#wrap footer .footertext p {
  margin-top: 50px;
  color: #fff;
}
#wrap footer .footersns {
  width: 15%;
  height: 200px;
  margin-left: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap footer .footersns i {
  color: #858585;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
